@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1.6;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  border-radius: 4px;
  border-left: 2px solid #ff3f3a;
  border-right: 2px solid #f75e05;
  position: relative;
  -webkit-transition: color 0.4s linear 0s;
  -o-transition: color 0.4s linear 0s;
  transition: color 0.4s linear 0s;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: -o-linear-gradient(34.05deg, #ff3f3a 0%, #f75e05 100%);
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}

.button::before {
  top: 0;
  border-radius: 4px 4px 0 0;
}

.button::after {
  bottom: 0;
  border-radius: 0 0 4px 4px;
}

.large-button {
  padding-top: 13px;
  padding-bottom: 13px;
}

.regular-button {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}

.bg-button {
  color: #fff;
  border-radius: 4px;
  background: -o-linear-gradient(34.05deg, #ff3f3a 0%, #f75e05 100%);
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  position: relative;
}

.bg-button span {
  position: relative;
  z-index: 2;
}

.bg-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s;
  background: -o-linear-gradient(34.05deg, #a71e1a 0%, #ffa673 100%);
  background: linear-gradient(55.95deg, #a71e1a 0%, #ffa673 100%);
}

.subtitle {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title {
  color: #1e212c;
  font-weight: 900;
  line-height: 1.3;
}

.list li {
  min-height: 26px;
  padding-left: 32px;
  background: url(../img/icons/check.svg) 0 7px no-repeat;
}

.list li:not(:last-child) {
  margin-bottom: 12px;
}

.header {
  position: sticky;
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 123px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 15px;
  white-space: nowrap;
}

.header__button {
  position: relative;
  z-index: 5;
}

.header__login {
  position: relative;
  padding-left: 28px;
}

.header__login::before {
  content: "";
  background: url(../img/icons/person.svg) 0 0/100% no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0;
}

.header__login::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #424551;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #424551;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.main__block {
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.main__about-us {
  background-color: #e5e5e5;
}

.main__courses {
  background-color: #e5e5e5;
}

.block-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 24px;
}

.block-main__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.block-main__play {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.block-main__play span {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #1e212c;
  position: relative;
}

.block-main__play span::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background-color: #424551;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.block-main__play:hover span::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.block-main__play::before {
  content: "";
  background: #ff3f3a url(../img/icons/play.svg) 50% no-repeat;
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.block-main__play::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: rgba(255, 64, 58, 0.12);
  -webkit-animation: puls 1.5s linear infinite alternate running 0s forwards;
          animation: puls 1.5s linear infinite alternate running 0s forwards;
}

@-webkit-keyframes puls {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes puls {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.block-main__play:not(:last-child) {
  margin-bottom: 24px;
}

.block-main__title {
  color: #1e212c;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1.3;
}

.block-main__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  white-space: nowrap;
}

.block-main__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.block-main__img img {
  max-width: 100%;
  margin-left: 47px;
}

.block-main .achievement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
  white-space: nowrap;
}

.block-main .achievement__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 24px;
}

.block-main .achievement__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1e212c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.block-main .achievement__text span {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
}

.block-main .achievement__decor {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 8px;
  height: 8px;
  background-color: #ff3f3a;
  border-radius: 50%;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.about-us__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about-us__img img {
  max-width: 100%;
}

.about-us__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__subtitle:not(:last-child) {
  margin-bottom: 8px;
}

.about-us__title:not(:last-child) {
  margin-bottom: 40px;
}

.about-us__list:not(:last-child) {
  margin-bottom: 22px;
}

.about-us__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.courses__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 24px;
}

.courses__subtitle:not(:last-child) {
  margin-bottom: 8px;
}

.courses__items {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.item-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 0.3s linear 0s;
  transition: -webkit-transform 0.3s linear 0s;
  -o-transition: transform 0.3s linear 0s;
  transition: transform 0.3s linear 0s;
  transition: transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s;
}

.item-courses:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.item-courses__img {
  border-radius: 4px 0 0 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 214px;
          flex: 0 0 214px;
}

.item-courses__img img {
  border-radius: 4px 0 0 4px;
  max-width: 100%;
}

.item-courses__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item-courses__direction {
  padding: 1px 8px;
  color: #fff;
  background-color: #5a87fc;
  border-radius: 4px;
}

.item-courses__title {
  color: #1e212c;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.item-courses__price {
  color: #787a80;
  font-size: 18px;
}

.item-courses__price span {
  color: #ff4242;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 76.875em) {
  .large-button {
    padding-left: 2.5rem;
  }

  .large-button {
    padding-right: 2.5rem;
  }

  .regular-button {
    padding-left: 2rem;
  }

  .regular-button {
    padding-right: 2rem;
  }

  .title {
    font-size: 2.875rem;
  }

  .header__container {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .header__action {
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .main__block {
    padding-top: 6.6875rem;
  }

  .main__block {
    padding-bottom: 5rem;
  }

  .main__about-us {
    padding-top: 11.25rem;
  }

  .main__about-us {
    padding-bottom: 5.625rem;
  }

  .main__courses {
    padding-top: 5.625rem;
  }

  .main__courses {
    padding-bottom: 5.625rem;
  }

  .block-main__body {
    margin-right: 7.5rem;
  }

  .block-main__title {
    font-size: 4rem;
  }

  .block-main__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .block-main__img {
    margin-bottom: 11.8125rem;
  }

  .block-main .achievement {
    -webkit-column-gap: 4.125rem;
       -moz-column-gap: 4.125rem;
            column-gap: 4.125rem;
  }

  .block-main .achievement__row {
    -webkit-column-gap: 4.125rem;
       -moz-column-gap: 4.125rem;
            column-gap: 4.125rem;
  }

  .block-main .achievement__text span {
    font-size: 2.875rem;
  }

  .about-us__info {
    margin-left: 8.4375rem;
  }

  .courses__header {
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 1270px) {
  .block-main .achievement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-main .achievement .none {
    display: none;
  }
}

@media (max-width: 1023.98px) {
  .courses__items {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  .item-courses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-courses__img {
    border-radius: 4px 4px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
  }

  .item-courses__img img {
    border-radius: 4px 4px 0 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 48em) {
  .title {
    font-size: 1.75rem;
  }

  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .header__action {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .courses__header {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .block-main .achievement__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-main .achievement__row .none {
    display: block;
  }
}

@media (max-width: 61.99875em) {
  .header__action {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    min-height: 80px;
  }

  .menu__body {
    padding: 100px 15px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    text-align: right;
    row-gap: 40px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.6) 0%, rgba(247, 94, 5, 0.6) 100%);
    background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.6) 0%, rgba(247, 94, 5, 0.6) 100%);
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    width: 100%;
    height: 80px;
    background: #fff;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__body .header__button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    background: #fff;
    color: #424551;
  }

  .menu__body .header__login {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-left: 40px;
  }

  .menu__body .header__login::before {
    width: 30px;
    height: 30px;
    top: 9px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 50;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__block {
    padding-top: 3.75rem;
  }

  .main__block {
    padding-bottom: 3.75rem;
  }

  .main__about-us {
    padding-top: 3.75rem;
  }

  .main__about-us {
    padding-bottom: 3.75rem;
  }

  .main__courses {
    padding-top: 1.875rem;
  }

  .main__courses {
    padding-bottom: 1.875rem;
  }

  .block-main__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-main__body {
    margin-right: 0.0000000625rem;
  }

  .block-main__title {
    font-size: 2rem;
  }

  .block-main__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .block-main__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .block-main__img {
    margin-bottom: 2.5rem;
  }

  .block-main__img img {
    margin-left: 0px;
  }

  .block-main .achievement {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .block-main .achievement__row {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .block-main .achievement__text span {
    font-size: 1.75rem;
  }

  .about-us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 40px;
  }

  .about-us__info {
    margin-left: 2.5rem;
  }

  .about-us__info {
    margin-left: 0;
  }

  .courses__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 21.875em) {
  .large-button {
    padding-left: 1.25rem;
  }

  .large-button {
    padding-right: 1.25rem;
  }

  .regular-button {
    padding-left: 1.25rem;
  }

  .regular-button {
    padding-right: 1.25rem;
  }
}

@media (min-width: 21.875em) and (max-width: 76.875em) {
@supports (padding-left: clamp( 1.25rem , 0.7528409091rem  +  2.2727272727vw , 2.5rem )) {
    .large-button {
      padding-left: clamp( 1.25rem , 0.7528409091rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.7528409091rem  +  2.2727272727vw , 2.5rem )) {
    .large-button {
      padding-left: calc(1.25rem + 1.25 * (100vw - 21.875rem) / 55);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.7528409091rem  +  2.2727272727vw , 2.5rem )) {
    .large-button {
      padding-right: clamp( 1.25rem , 0.7528409091rem  +  2.2727272727vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.7528409091rem  +  2.2727272727vw , 2.5rem )) {
    .large-button {
      padding-right: calc(1.25rem + 1.25 * (100vw - 21.875rem) / 55);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.9517045455rem  +  1.3636363636vw , 2rem )) {
    .regular-button {
      padding-left: clamp( 1.25rem , 0.9517045455rem  +  1.3636363636vw , 2rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.9517045455rem  +  1.3636363636vw , 2rem )) {
    .regular-button {
      padding-left: calc(1.25rem + 0.75 * (100vw - 21.875rem) / 55);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.9517045455rem  +  1.3636363636vw , 2rem )) {
    .regular-button {
      padding-right: clamp( 1.25rem , 0.9517045455rem  +  1.3636363636vw , 2rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.9517045455rem  +  1.3636363636vw , 2rem )) {
    .regular-button {
      padding-right: calc(1.25rem + 0.75 * (100vw - 21.875rem) / 55);
    }
}
}

@media (min-width: 48em) and (max-width: 76.875em) {
@supports (font-size: clamp( 1.75rem , -0.1201298701rem  +  3.8961038961vw , 2.875rem )) {
    .title {
      font-size: clamp( 1.75rem , -0.1201298701rem  +  3.8961038961vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.75rem , -0.1201298701rem  +  3.8961038961vw , 2.875rem )) {
    .title {
      font-size: calc(1.75rem + 1.125 * (100vw - 48rem) / 28.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem );
              column-gap: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -2.9058441558rem  +  8.658008658vw , 3.75rem ))) {
    .header__container {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 28.875);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 28.875);
              column-gap: calc(1.25rem + 2.5 * (100vw - 48rem) / 28.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.4123376623rem  +  3.4632034632vw , 2.25rem )) or (column-gap: clamp( 1.25rem , -0.4123376623rem  +  3.4632034632vw , 2.25rem ))) {
    .header__action {
      -webkit-column-gap: clamp( 1.25rem , -0.4123376623rem  +  3.4632034632vw , 2.25rem );
         -moz-column-gap: clamp( 1.25rem , -0.4123376623rem  +  3.4632034632vw , 2.25rem );
              column-gap: clamp( 1.25rem , -0.4123376623rem  +  3.4632034632vw , 2.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.4123376623rem  +  3.4632034632vw , 2.25rem )) or (column-gap: clamp( 1.25rem , -0.4123376623rem  +  3.4632034632vw , 2.25rem ))) {
    .header__action {
      -webkit-column-gap: calc(1.25rem + 1 * (100vw - 48rem) / 28.875);
         -moz-column-gap: calc(1.25rem + 1 * (100vw - 48rem) / 28.875);
              column-gap: calc(1.25rem + 1 * (100vw - 48rem) / 28.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.6599025974rem  +  5.4112554113vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 28.875);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 28.875);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 28.875);
    }
}

@supports (margin-bottom: clamp( 1.5rem , -2.2402597403rem  +  7.7922077922vw , 3.75rem )) {
    .courses__header {
      margin-bottom: clamp( 1.5rem , -2.2402597403rem  +  7.7922077922vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , -2.2402597403rem  +  7.7922077922vw , 3.75rem )) {
    .courses__header {
      margin-bottom: calc(1.5rem + 2.25 * (100vw - 48rem) / 28.875);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 76.875em) {
@supports (padding-top: clamp( 3.75rem , -1.1327783429rem  +  10.1727197957vw , 6.6875rem )) {
    .main__block {
      padding-top: clamp( 3.75rem , -1.1327783429rem  +  10.1727197957vw , 6.6875rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , -1.1327783429rem  +  10.1727197957vw , 6.6875rem )) {
    .main__block {
      padding-top: calc(3.75rem + 2.9375 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 1.6722219817rem  +  4.3288169343vw , 5rem )) {
    .main__block {
      padding-bottom: clamp( 3.75rem , 1.6722219817rem  +  4.3288169343vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 1.6722219817rem  +  4.3288169343vw , 5rem )) {
    .main__block {
      padding-bottom: calc(3.75rem + 1.25 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (padding-top: clamp( 3.75rem , -8.7166681096rem  +  25.972901606vw , 11.25rem )) {
    .main__about-us {
      padding-top: clamp( 3.75rem , -8.7166681096rem  +  25.972901606vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , -8.7166681096rem  +  25.972901606vw , 11.25rem )) {
    .main__about-us {
      padding-top: calc(3.75rem + 7.5 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 0.6333329726rem  +  6.4932254015vw , 5.625rem )) {
    .main__about-us {
      padding-bottom: clamp( 3.75rem , 0.6333329726rem  +  6.4932254015vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.6333329726rem  +  6.4932254015vw , 5.625rem )) {
    .main__about-us {
      padding-bottom: calc(3.75rem + 1.875 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (padding-top: clamp( 1.875rem , -4.3583340548rem  +  12.986450803vw , 5.625rem )) {
    .main__courses {
      padding-top: clamp( 1.875rem , -4.3583340548rem  +  12.986450803vw , 5.625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -4.3583340548rem  +  12.986450803vw , 5.625rem )) {
    .main__courses {
      padding-top: calc(1.875rem + 3.75 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -4.3583340548rem  +  12.986450803vw , 5.625rem )) {
    .main__courses {
      padding-bottom: clamp( 1.875rem , -4.3583340548rem  +  12.986450803vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -4.3583340548rem  +  12.986450803vw , 5.625rem )) {
    .main__courses {
      padding-bottom: calc(1.875rem + 3.75 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -12.4666679432rem  +  25.9729013896vw , 7.5rem )) {
    .block-main__body {
      margin-right: clamp( 0.0000000625rem , -12.4666679432rem  +  25.9729013896vw , 7.5rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -12.4666679432rem  +  25.9729013896vw , 7.5rem )) {
    .block-main__body {
      margin-right: calc(0.0000000625rem + 7.4999999375 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (font-size: clamp( 2rem , -1.3244448292rem  +  6.9261070949vw , 4rem )) {
    .block-main__title {
      font-size: clamp( 2rem , -1.3244448292rem  +  6.9261070949vw , 4rem );
    }
}

@supports not (font-size: clamp( 2rem , -1.3244448292rem  +  6.9261070949vw , 4rem )) {
    .block-main__title {
      font-size: calc(2rem + 2 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -1.2416670274rem  +  6.4932254015vw , 3.75rem )) {
    .block-main__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , -1.2416670274rem  +  6.4932254015vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -1.2416670274rem  +  6.4932254015vw , 3.75rem )) {
    .block-main__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (margin-bottom: clamp( 2.5rem , -12.9794462361rem  +  32.2496861608vw , 11.8125rem )) {
    .block-main__img {
      margin-bottom: clamp( 2.5rem , -12.9794462361rem  +  32.2496861608vw , 11.8125rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , -12.9794462361rem  +  32.2496861608vw , 11.8125rem )) {
    .block-main__img {
      margin-bottom: calc(2.5rem + 9.3125 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem )) or (column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem ))) {
    .block-main .achievement {
      -webkit-column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem );
         -moz-column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem );
              column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem )) or (column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem ))) {
    .block-main .achievement {
      -webkit-column-gap: calc(0.9375rem + 3.1875 * (100vw - 47.99875rem) / 28.87625);
         -moz-column-gap: calc(0.9375rem + 3.1875 * (100vw - 47.99875rem) / 28.87625);
              column-gap: calc(0.9375rem + 3.1875 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem )) or (column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem ))) {
    .block-main .achievement__row {
      -webkit-column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem );
         -moz-column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem );
              column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem )) or (column-gap: clamp( 0.9375rem , -4.3608339466rem  +  11.0384831825vw , 4.125rem ))) {
    .block-main .achievement__row {
      -webkit-column-gap: calc(0.9375rem + 3.1875 * (100vw - 47.99875rem) / 28.87625);
         -moz-column-gap: calc(0.9375rem + 3.1875 * (100vw - 47.99875rem) / 28.87625);
              column-gap: calc(0.9375rem + 3.1875 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (font-size: clamp( 1.75rem , -0.1200002164rem  +  3.8959352409vw , 2.875rem )) {
    .block-main .achievement__text span {
      font-size: clamp( 1.75rem , -0.1200002164rem  +  3.8959352409vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.75rem , -0.1200002164rem  +  3.8959352409vw , 2.875rem )) {
    .block-main .achievement__text span {
      font-size: calc(1.75rem + 1.125 * (100vw - 47.99875rem) / 28.87625);
    }
}

@supports (margin-left: clamp( 2.5rem , -7.3694455868rem  +  20.5618804381vw , 8.4375rem )) {
    .about-us__info {
      margin-left: clamp( 2.5rem , -7.3694455868rem  +  20.5618804381vw , 8.4375rem );
    }
}

@supports not (margin-left: clamp( 2.5rem , -7.3694455868rem  +  20.5618804381vw , 8.4375rem )) {
    .about-us__info {
      margin-left: calc(2.5rem + 5.9375 * (100vw - 47.99875rem) / 28.87625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    border-left: 2px solid #a71e1a;
    border-right: 2px solid #ffa673;
  }

  .button:hover::before,
  .button:hover::after {
    background: -o-linear-gradient(34.05deg, #a71e1a 0%, #ffa673 100%);
    background: linear-gradient(55.95deg, #a71e1a 0%, #ffa673 100%);
  }

  .button:hover {
    -webkit-animation: bg 0.7s linear 1 alternate running 0s forwards;
            animation: bg 0.7s linear 1 alternate running 0s forwards;
    color: #fff;
  }

@-webkit-keyframes bg {
    0% {
      position: relative;
      top: 0;
      left: 0;
      opacity: 0.4;
      background: linear-gradient(55.95deg, #a71e1a 0%, #ffa673 100%);
    }

    100% {
      position: relative;
      opacity: 1;
      background: linear-gradient(55.95deg, #a71e1a 0%, #ffa673 100%);
    }
}

@keyframes bg {
    0% {
      position: relative;
      top: 0;
      left: 0;
      opacity: 0.4;
      background: -o-linear-gradient(34.05deg, #a71e1a 0%, #ffa673 100%);
      background: linear-gradient(55.95deg, #a71e1a 0%, #ffa673 100%);
    }

    100% {
      position: relative;
      opacity: 1;
      background: -o-linear-gradient(34.05deg, #a71e1a 0%, #ffa673 100%);
      background: linear-gradient(55.95deg, #a71e1a 0%, #ffa673 100%);
    }
}

  .bg-button:hover::before {
    opacity: 1;
  }

  .header__login:hover::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .menu__link:hover::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .block-main__play:hover::after {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}