@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,700&display=swap);

@font-face {
	font-family: "Shockwave";
	src: url("../fonts/ShockwaveRegular.woff2") format("woff2"), url("../fonts/ShockwaveRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


body {
	font-family: 'Roboto';
	font-size: 18px;
	color: rgb(51, 50, 50);
	padding: 15px;
}

.header {
	margin-bottom: 40px;
	padding-top: 40px;
}

.header-title,
.header-subtitle {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 20px;
}

.header-title {
	font-style: italic;
}

.header-subtitle {
	font-style: oblique;
}

.header-list {
	margin-bottom: 20px;
}

.header-list>li {
	margin-bottom: 10px;
	text-align: right;
	color: green;
}

.header-sublist {
	margin-top: 20px;
}

.header-sublist li {
	color: blue;
	text-align: left;
	margin-bottom: 5px;
}

.main {
	margin-bottom: 40px;
}

.main-text-test {
	margin-bottom: 20px;
}

.main-text-test p {
	margin-bottom: 7px;
	line-height: 1.2;
}

.main-text {
	text-decoration: line-through;
	text-transform: capitalize;
}

.main-text-two {
	text-transform: lowercase;
	text-decoration: overline;
}

.main-text-three {
	text-transform: uppercase;
	text-decoration: underline;
}

.main-text-four {
	text-indent: 30px;
	white-space: nowrap;
}

.main-text-four span {
	color: red;
	font-size: 20px;
}

.main-img-test {
	background-color: #666;
	margin-bottom: 20px;
	width: 200px;
	color: #c9c9c9;
}

.main-img-test img {
	margin-bottom: 10px;
	width: 100%;
	padding: 20px;
}

.main-img-test h3 {
	font-size: 20px;
	font-family: "Shockwave";
	text-align: center;
	margin-bottom: 7px;
}

.main-img-test p {
	text-align: justify;
}

.main-block,
.main-block-two,
.main-block-three,
.main-block-six {
	width: 400px;
}

.main-block,
.main-block-two,
.main-block-three,
.main-block-four,
.main-block-five,
.main-block-six {
	background-color: #666;
}


.main-block-test div {
	margin-bottom: 10px;
}

.main-block-two {
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 20px;
	margin-left: 100px;
}

.main-block-three {
	margin-left: -100px;
}

.main-block-three p {
	padding: 10%;
}

.main-block-four {
	margin-left: -100%;
}

.main-block-five {
	width: 100%;
	margin-left: -80%;
}

.main-block-six {
	margin-top: -200px;
	margin-left: 500px;
}

.footer {}

.footer a {
	font-family: "Shockwave";
	text-align: center;
	color: #666;
	text-transform: uppercase;
	line-height: 2;
	letter-spacing: 2px;
	font-weight: 900;
	font-size: 32px;
	text-shadow: 0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0, 0, 0, .1),
		0 0 5px rgba(0, 0, 0, .1),
		0 1px 3px rgba(0, 0, 0, .3),
		0 3px 5px rgba(0, 0, 0, .2),
		0 5px 10px rgba(0, 0, 0, .25),
		0 10px 10px rgba(0, 0, 0, .2),
		0 20px 20px rgba(0, 0, 0, .15);
}